body {
    background-image: url("./../img/bg.png");
    margin: 0;
   padding: 0;
}

.mv {
    margin: 0;
    padding: 0;
/*    background-image: url("./../img/pixta_58820100_M.png");
    height: auto;
    width: auto;
    background-size: 100%;
    background-repeat: no-repeat;*/
}

/*.info {
    position: absolute;
    right: 0px;
    top: 0px;
    margin:0;
    padding: 0;
    display:flex;
}*/

.telimg {
    height: 30px;
    width: auto;
    margin-left: auto;
}

.shikin {
    margin:0;
    padding: 0;
}

.contactimg {
    margin-left: auto;
    margin:0;
    padding: 0;
    height: 30px;
    width: auto;
}

.flist {
    float: left;
}

.imgwidth {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.relative2 {
    position: relative;
    width: 75%;
}

.absolute2 {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.relative {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*.mv_img {
    width: 55%;
    height: auto;
}*/

.absolute {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 55%;
    height: 100%;
    z-index: 100;
    margin: 0;
    padding: 0;
}

.infoabsolute {
    /*position: absolute;
    left: 50px;
    top: 0px;*/
    position: absolute;
    width: 55%;
    height: auto;
    margin: 0;
    padding: 0;
    display:flex;
    right: 0px;
    top: 0px;
}

.textabsolute {
    position: absolute;
    left: 30px;
    top: 75px;
    width: 45%;
    height: auto;
    z-index: 200;
}

.logoabsolute {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 15%;
    height: auto;
    z-index: 200;
}

.plan {
    background-image: url("./../img/plan_bg.png");
    margin: 0;
    padding: 0;
    text-align: center;
}

.plantitle {
    margin: 20px auto;
    width: 15%;
    height: auto;
    border-style:none;
}

.planul {
    display: flex;
    flex-wrap:wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.planul li {
    width: calc(100%/5);/*←画像を横に4つ並べる場合*/
    padding:0 5px;/*←画像の左右に5pxの余白を入れる場合*/
    box-sizing:border-box;
}
.planul li img {
    max-width:100%; /*画像のはみだしを防ぐ*/
    height: auto; /*画像の縦横比を維持 */
    border:solid 1px #ccc; /*←画像を1pxのグレーの枠線で囲む指定の場合*/
}

.hibi {
    background-image: url("./../img/bbb.png");
    background-size: cover;
    text-align: center;
}

.hibititle {
    margin: 20px auto;
    width: 40%;
    height: auto;
    border-style:none;
}

.hibiul {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    /*flex-wrap:wrap;*/
    font-size: 30px;
    list-style: none;
    width: 75%;
    text-align: center;
}

.hibiimg {
    list-style: none;
    border: none;
}

.hibiul li {
    width: calc(100%/2);/*←画像を横に4つ並べる場合*/
    padding:0 5px;/*←画像の左右に5pxの余白を入れる場合*/
    box-sizing:border-box;
}
.hibiul li img {
    max-width:100%; /*画像のはみだしを防ぐ*/
    height: auto; /*画像の縦横比を維持 */
    border:solid 1px #ccc; /*←画像を1pxのグレーの枠線で囲む指定の場合*/
}

.hibi_text1 {
    font-size: 50%;
    font-family: "Source Han Sans JP";
    color: rgb(255, 255, 255);
    font-weight: bold;
    /*line-height: 1.2;*/
    text-align: center;
    margin: 0;
    padding: 0;
    /*padding: 0, 100, 0;*/
  /*  position: absolute;
    left: 1102.1px;
    top: 4886.55px;
    z-index: 23;*/
}

.hibi_text3 {
    font-size: 12%;
    font-family: "YuGothic";
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    /*line-height: 1.5;*/
    text-align: center;
  /*  left: 1050.449px;
    top: 5008.016px;
    width: 548px;
    height: 62px;
    z-index: 22;*/
}

.hibi_text2 {
    font-size: 20%;
    font-family: "Source Han Sans JP";
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 0.1px, 0;
    padding: 0;
    /*line-height: 4.444*/;
    text-align: center;
    /*  position: absolute;
    left: 1160.611px;
    top: 4988.099px;
    z-index: 21;*/
}

.flow {
    /*background-image: url("./../img/voice_bg.png")*/;
    text-align: center;
}

.flowtitle {
    margin: 20px 0;
    width: 15%;
    height: auto;
}

.flowul {
    display: flex;
    flex-wrap:wrap;
    list-style: none;
    width: 90%;
}

.flowul li {
    width: calc(100%/4);/*←画像を横に4つ並べる場合*/
    padding:0 5px;/*←画像の左右に5pxの余白を入れる場合*/
    box-sizing:border-box;
}

.flowul li img {
    max-width:100%; /*画像のはみだしを防ぐ*/
    height: auto; /*画像の縦横比を維持 */
    border:solid 1px #ccc; /*←画像を1pxのグレーの枠線で囲む指定の場合*/
}

.voice {
  background-image: url("./../img/voice_bg.png");
  text-align: center;
}

.voicetitle {
    margin: 20px auto;
    width: 10%;
    height: auto;
}

.voiceul {
    display: flex;
    flex-wrap:wrap;
    list-style: none;
    width: 90%;
}

.voiceul li {
    width: calc(100%/3);/*←画像を横に4つ並べる場合*/
    padding:0 5px;/*←画像の左右に5pxの余白を入れる場合*/
    box-sizing:border-box;
}

.voiceul li img {
    max-width:100%; /*画像のはみだしを防ぐ*/
    height: auto; /*画像の縦横比を維持 */
    border:solid 1px #ccc; /*←画像を1pxのグレーの枠線で囲む指定の場合*/
}

footer {
    text-align: center;
    font-size: 50%;
    margin: 0;
    padding: 0;
}

.copyright {
    font-family: "Noto Sans CJK JP";
    color: rgb(179, 179, 179);
    font-size: 10%;
    margin: 0;
    padding: 0;
}
